@media only screen and (min-width: 600px) {
  /* CONTENT */
  .intro {
    display: flex;
    justify-content: space-between;
  }

  .intro > .text {
    order: 1;
    letter-spacing: 2px;
  }
  .intro > .intro-image {
    order: 2;
  }
}
