@media only screen and (min-width: 600px) {
  /* GRID */
  .footer-background {
    grid-area: footer / most-left / most-bottom / most-right;
  }

  .footer {
    grid-area: footer / left / most-bottom / right;
    padding: 30px 0px 30px 0px;
  }

  .footer {
    display: grid;
    grid-template-columns: [left] auto [middle] auto [right];
    grid-template-rows: [top] auto [middle] auto [bottom];

    padding: 50px 20px 50px 20px;

    letter-spacing: 1px;
  }
  .footer-buttons {
    grid-area: top / left / middle / middle;
  }
  .footer-links {
    grid-area: top / middle / middle / right;
  }
  .footer-sponsors {
    grid-area: middle / left / bottom / right;
  }

  /* FOOTER-BUTTONS */
  .footer-buttons {
    padding: 0px 0px 20px 0px;
  }
  .footer-buttons > button {

    background-color: inherit;
    border: 1px solid var(--theme-footer-background);
    color: var(--theme-text);
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

    font-size: inherit;
    letter-spacing: 1px;


    height: 50px;
  }
  .footer-buttons > button:hover {
    border-color: var(--theme-text);
  }
  .footer-buttons > button:focus {
    outline: none;
  }

  .footer-buttons img {
    vertical-align: middle;
    height: 25px;
    padding-left: 10px;
    margin: 0px;
  }
  .footer-buttons img.logo {
    vertical-align: middle;
    height: 35px;
    padding-right: 30px;
    padding-left: 0px;
  }
  .footer-buttons label {
    color: var(--theme-text-light);
    padding-right: 20px;
  }


  /* FOOTER-LINKS */
  .footer-links {
    align-self: center;
    justify-self: end;
    padding: 0px 0px 20px 0px;
  }
  .footer-links a {
    padding-right: 40px;
  }
  .footer-links a:link, a:visited, a:active {
    text-decoration: none;
  }
  .footer-links a:hover {
    text-decoration: underline;
  }

}
