/* HEADER / NAVIGATION BAR */
@media only screen and (min-width: 600px) {
  /* grid */
  .header-background {
    grid-area: header / most-left / intro / most-right;
  }
  .header {
    grid-area: header / left / intro / right;

    display: grid;
    grid-template-columns: [logo] 150px [home] auto [get-started] auto [modules] auto [documentation] auto [blank] 1fr [app] auto [faq] auto [about] auto [right] auto [most-right];
    grid-template-rows: [top] 1fr [bottom];

  }
  /* HEADER CONTENT LAYOUT */
  .header > .logo {
    grid-column-start: logo;
  }
  .header > .home {
    grid-column-start: home;
  }
  .header > .get-started {
    grid-column-start: get-started;
  }
  .header > .modules {
    grid-column-start: modules;
  }
  .header > .documentation {
    grid-column-start: documentation;
  }
  .header > .app {
    grid-column-start: app;
  }
  .header > .faq {
    grid-column-start: faq;
  }
  .header > .about {
    grid-column-start: about;
  }

  /* header elements */
  .header > a {
    margin: auto 20px auto 20px;
    white-space: nowrap; /* makes the vertical line inside not wrap to the next line in FIREFOX BROWSER */
  }

  .header > a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  .logo {
    letter-spacing: 2px;
    font-size: 23px;
  }
}
