@import "./colour-declaration.css";

html {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: var(--theme-text);
}

h1 {
  font-size: 35px;
  font-weight: bold;
}
h2 {
  font-size: 35px;
  font-weight: 500;
  margin: 10px auto 5px auto;
}
h3 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 5px;
}

/* INDEX.HTML */
.getting-started > .panels {
  color: var(--theme-text-light);
}
.getting-started > .panels > .panel > .text {
  font-size: 17px;
}

.my-module > .panel {
  color: var(--theme-text-light);
}
.my-module > .panel > .text {
  font-size: 17px;
}

.blog {
  font-size: 17px;
}


/* MODULE-LIST.HTML */
.list > .panel > .tags {
  color: var(--theme-text-light);
}
.list > .panel > .price {
  color: var(--theme-text-light);
}
