@media only screen and (max-width: 600px) {

  body {
    grid-template-rows: [header] 55px [intro] 140px [updates-by-type] auto [all-updates] auto [footer] auto [most-bottom];
  }

  /* background layout */
  .intro-background {
    grid-area: intro / most-left / updates-by-type / most-right;
  }
  .updates-by-type-background {
    grid-area: updates-by-type / most-left / all-updates / most-right;
  }
  .all-updates-background {
    grid-area: all-updates / most-left / footer / most-right;
  }

  /* main content container layout */
  .intro {
    grid-area: intro / left / updates-by-type / right;
  }
  .updates-by-type {
    grid-area: updates-by-type / left / all-updates / right;
    padding: 0px 0px 20px 0px;
  }
  .all-updates {
    grid-area: all-updates / left / footer / right;
    padding: 10px 0px 15px 0px;
  }


  /* clicky panels for choosing the right blog posts */
  .panels {
    /*display: flex;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*
    grid-template-columns: [panel1] auto [panel2] auto [panel3] auto [panel4] auto [right];
    grid-template-rows: [top] auto [bottom];*/
  }
  .panels > div {
    /*flex-basis: 25%;*/
    margin: 5px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;

    height: 70px;
  }
  .panels .panel > .icon > img {
    width: 50px;
  }
  .panels .panel > .text {
    font-size: 7px;
    padding: 10px;
    margin: auto;
  }

}
