/* PANEL DECORATIONS */
.panel {
  box-shadow: 5px 5px 5px #ccc;
  border: 1px solid var(--theme-outline);
}

.panel-singular {
  border: 4px solid var(--theme-outline);
}

/* PANEL CONTENT DECORATIONS */
.panel > input {
  border: 2px solid var(--theme-outline);
}
.panel > input {
  outline: none;
}
