/* PANEL DECORATIONS */
.panel {
  box-shadow: 5px 5px 5px var(--theme-shadow);
  border: 1px solid var(--theme-outline);
}

.panel-singular {
  border: var(--theme-search-bar-border-width) solid var(--theme-outline);
}

/* PANEL CONTENT DECORATIONS */
.panel > input {
  border: 2px solid var(--theme-outline);
}
.panel > input {
  outline: none;
}
