/* an image */
.image {
  padding: 0px;
  border: 0px;
  background-color: var(--theme-image-background);
}

.intro-image {
  background-color: transparent;
}
.intro-image > img {
  height: 90%;
  float: right;
}

/* an icon */
.icon {
  margin: auto;
}
